/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.app {
  width: 100%;
}
.BoxScroll::-webkit-scrollbar {
  width: 4px;
}
.BoxScroll::-webkit-scrollbar-thumb {
  background: #1f9ce4;
  border-radius: 20px;
}
.container{
  /* margin-top: 85px; */
}
@media (max-width: 994px) {
  .app {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}
@media (min-width: 1700px) {
  .container {
    box-shadow: 0 0 1em black;
    border-radius: 20px;
    padding: 50px;
    width: 80%;
    /* margin-top: 170px; */
  }
}
